<ion-view ng-controller="homeCtrl" title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">{{ article.title }}</div>
            <div class="item item-body">
                <h1 id="home-heading1" style="color:#000000;">{{ article.title }}</h1>
                <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <img ng-src="{{ article.image }}" alt="{{ article.title }}">
                </div>
                <h3 id="home-heading2" style="color:#000000;">Published on: {{ article.date }}</h3>
                <div id="home-markdown1" style="color:#000000;">
                    <p>{{ article.body }}</p>
                </div>
            </div>
            <div class="item item-divider">www.news.co.zw</div>
        </div>
    </ion-content>
</ion-view>